<!DOCTYPE html>
<html>
    <body>
        Hello {{family_name}},<br>
        We would like to inform you that the entire donation process for <strong>{{ donor_name }}</strong> has been successfully completed.<br><br>

        The institution will contact you regarding the further procedures for the return of the remains.<br><br>

        The case was under the supervision of the assigned administrator:<br>
        <strong>Supervising Admin:</strong> {{ admin_name }}<br>
        <strong>Email:</strong> {{ admin_email }}<br><br>

        If you have any immediate concerns, you may contact the administrator using the details provided above.<br><br>

        You can also check the current status of the donor through the Body Donation Portal.<br><br>

        Thank you for your cooperation and support throughout the donation process.<br><br>

        Regards,<br>
        Body Donation Portal
    </body>
</html>