<!DOCTYPE html>
<html>
    <body>
        Hello {{family_member_name}},<br>
        We have successfully received the death report for <strong>{{ donor_name }}</strong>.<br>
        The case has been assigned to the preferred institution, and the assigned coordinator will contact you shortly to assist you with the remaining formalities.<br><br>
        
        <strong>Institution Name:</strong> {{ institution_name }}<br>
        <strong>Institution Contact:</strong> {{ institution_phone }}<br><br>

        <strong>Assigned Coordinator:</strong> {{ staff_name }}<br>
        <strong>Phone:</strong> {{ staff_phone }}<br>
        <strong>Email:</strong> {{ staff_email }}<br><br>

        If you have any immediate concerns, you may contact the assigned coordinator using the details provided above.<br><br>

        Thank you for informing us.<br><br>

        Regards,<br>
        Body Donation Portal
    </body>
</html>