<!DOCTYPE html>
<html>
<body>

    Hello {{staff_name}},<br><br>
    Your staff account has been successfully registered with the Body Donation Portal through your institution <strong>{{ institution_name }}</strong>.<br><br>

    Your login credentials are:<br><br>
    <strong>Email:</strong> {{ staff_email }}<br>
    <strong>Temporary Password:</strong> {{ staff_password }}<br><br>

    Please use the above credentials to log in to the portal. We recommend changing your password after your first login.<br><br>

    Thank you,<br>
    Body Donation Portal

</body>
</html>