<!DOCTYPE html>
<html>
<body>
    Hello {{ staff_name }},<br><br>

    A death report has been submitted through the Body Donation Portal for the following donor:<br><br>

    <strong>Donor Name:</strong> {{ donor_name }}<br>
    <strong>Institution:</strong> {{ institution_name }}<br><br>

    Please review the details provided and take the necessary action as soon as possible.<br><br>

    <strong>Reported By:</strong> {{ family_member_name }}<br>
    <strong>Family Member Contact:</strong> {{ family_member_phone }}<br>
    <strong>Family Member Email:</strong> {{ family_member_email }}<br><br>

    Please take the necessary action regarding this death report.

    <br><br>

    Thank you,<br>
    Body Donation Portal

</body>
</html>